<app-preloader-admin *ngIf="isLoading"></app-preloader-admin>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <app-menu-admin></app-menu-admin>
    <div class="layout-page">
      <app-navbar-admin></app-navbar-admin>
      <br><br><br>
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row justify-content-center">
            <div class="col-lg-8 mb-4 order-0">
              <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                  <h5 class="mb-0">Send Mail <i class="menu-icon tf-icons bx bx-envelope"></i></h5>
                  <small class="text-muted float-end">CocoMarket Administrator</small>
                </div>
                <div class="card-body">
                  <form (submit)="sendMail()">
                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label" for="basic-icon-default-email">To</label>
                      <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                          <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                          <input type="text" id="basic-icon-default-email" class="form-control" placeholder="john.doe@example.com"
                                 aria-label="john.doe" aria-describedby="basic-icon-default-email2"
                                 name="to"
                                 [(ngModel)]="to">
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Subject</label>
                      <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                          <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                          <input type="text" class="form-control" id="basic-icon-default-fullname" placeholder="John Doe"
                                 aria-label="John Doe" aria-describedby="basic-icon-default-fullname2"
                                 name="subject"
                                 [(ngModel)]="subject">
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 form-label" for="basic-icon-default-message">Message</label>
                      <div class="col-sm-10">
                        <div class="input-group input-group-merge">
                          <span id="basic-icon-default-message2" class="input-group-text"><i class="bx bx-comment"></i></span>
                          <textarea id="basic-icon-default-message" class="form-control"
                                    placeholder="Hi, Do you have a moment to talk Joe?"
                                    aria-label="Hi, Do you have a moment to talk Joe?"
                                    aria-describedby="basic-icon-default-message2"
                                    name="body"
                                    [(ngModel)]="body"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-end">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="content-backdrop fade"></div>
          </div>
          <br><br><br><br><br><br><br><br>
          <app-footer-admin></app-footer-admin>
        </div>
      </div>
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
  </div>
</div>

