<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cocomarket | Valhalla Team - Pidev</title>
  <link rel=icon href="/assets/front/img/favicon.png" sizes="20x20" type="image/png">
<!-- Stylesheet -->
<link rel="stylesheet" href="/assets/front/css/vendor.css">
<link rel="stylesheet" href="/assets/front/css/style.css">
<link rel="stylesheet" href="/assets/front/css/responsive.css">
<link rel="stylesheet" href="/assets/front/css/color.css">
</head>
<body class="home-3">
  <router-outlet></router-outlet>
<!-- all plugins here -->
<script src="/assets/front/js/vendor.js"></script>
<!-- main js  -->
<script src="/assets/front/js/main.js"></script>
</body>
</html>
