
<!----------------------------------------------------------------------------->
<!--navbar buyer-->
<app-navbar2-user></app-navbar2-user>
<br><br><br><br><br><br><br><br>
<!----------------------------------------------------------------------------->


<div class="about-area pd-top-140">
  <div class="container">
    <div class="about-area-inner">
      <div class="row">
        <div class="col-lg-6" >
          <div class="about-thumb-wrap left-icon">
            <canvas id="qrcode" style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);"></canvas>
            <div class="about-icon"><img src="/assets/front/img/icon/b.png" alt="img"></div>
            <div class="bottom-content">
              Thank you for your support and loyalty. We value your input and look forward to your participation in the survey.
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="about-inner-wrap pl-xl-4 pt-5 pt-lg-0 mt-5 mt-lg-0">
            <div class="section-title mb-0">
              <h6 class="sub-title right-line">Help Us Improve</h6>
              <h2 class="title">Participate in our Customer Survey</h2>
              <p class="content">We would like to invite you to participate in a brief survey to help us better
                understand your needs and preferences. Your feedback is incredibly valuable to us,
                as it helps us improve our products and services to better meet your expectations.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!----------------------------------------------------------------------------->
<br><br><br><br><br><br><br><br><br><br>
<app-footer-user></app-footer-user>



