<div class="body-overlay" id="body-overlay"></div>

<app-navbar2-user></app-navbar2-user>
<br><br><br>
<!-- signup-page-Start -->
<div class="signup-page-area pd-top-120 pd-bottom-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="section-title text-center">
        <h6 class="sub-title double-line">Customer Service</h6>
        <h2 class="title">Update Your Password</h2>
      </div>
      <div class="col-xl-6 col-lg-7">
        <form class="signin-inner"(ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-12">
              <div class="single-input-inner style-bg-border">
                <input
                  name="email"
                  [(ngModel)]="email"
                  type="text"
                  placeholder="Your Email">
              </div>
            </div>
            <div class="col-12">
              <div class="single-input-inner style-bg-border">
                <input
                  name="oldPassword"
                  [(ngModel)]="oldPassword"
                  type="password"
                  placeholder="Your Old Password">
              </div>
            </div>
            <div class="col-12">
              <div class="single-input-inner style-bg-border">
                <input
                  type="password"
                  name="newPassword"
                  [(ngModel)]="newPassword"
                  placeholder="Your New Password">
              </div>
            </div>

            <div class="col-12 mb-4">
              <button type="submit" class="btn btn-base w-100">Confirm</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- signup-page-end -->
<app-footer-user></app-footer-user>


