<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a (click)="redirectToHome()"  style="cursor: pointer;">
      <img src="/assets/back/img/c.png" class="app-brand-logo demo">
    </a>
  </div>
  <br>
  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item ">
      <a (click)="redirectToHome()"  style="cursor: pointer;" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>
    <li class="menu-item ">
      <a (click)="logout()"  style="cursor: pointer;" class="menu-link">
        <i class="menu-icon tf-icons bx bx-door-open"></i>
        <div data-i18n="Analytics">Logout</div>
      </a>
    </li>

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Pages</span>
    </li>
    <li class="menu-item">
      <a (click)="redirectToRegister()"  style="cursor: pointer;" class="menu-link">
        <i class="menu-icon tf-icons bx bx-registered"></i>
        <div data-i18n="Analytics">Register</div>
      </a>
    </li>
    <li class="menu-item ">
      <a (click)="redirectToShow()"  style="cursor: pointer;" class="menu-link">
        <i class="menu-icon tf-icons bx bx-show-alt"></i>
        <div data-i18n="Analytics">Show Users</div>
      </a>
    </li>
    <li class="menu-item ">
      <a (click)="redirectToSend()"  style="cursor: pointer;" class="menu-link">
        <i class="menu-icon tf-icons bx bx-envelope"></i>
        <div data-i18n="Analytics">Send An Email</div>
      </a>
    </li>
    <li class="menu-item ">
      <a (click)="redirectToReceive()"  style="cursor: pointer;" class="menu-link">
        <i class="menu-icon tf-icons bx bx-envelope-open"></i>
        <div data-i18n="Analytics">Show Emails</div>
      </a>
    </li>


  </ul>
</aside>
<!-- / Menu -->
