<!-- search popup start-->
<div class="td-search-popup" id="td-search-popup">
  <form action="index.html" class="search-form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search.....">
    </div>
    <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
  </form>
</div>
<!-- search popup end-->
<div class="body-overlay" id="body-overlay"></div>

<app-navbar-user></app-navbar-user>
<app-banner-user></app-banner-user>
<!-- signup-page-Start -->
<div class="signup-page-area pd-top-120 pd-bottom-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="section-title text-center">
        <h6 class="sub-title double-line">Account Verification</h6>
        <h2 class="title">Verify account to access features.</h2>
      </div>
      <br><br><br>
      <div class="footer-subscribe">
        <div class="container">
          <form class="footer-subscribe-inner" (submit)="sendCode()">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="single-input-inner style-border-bottom">
                  <input
                    type="email"
                    [(ngModel)]="email"
                    name="email"
                    placeholder="Your Email Address">
                </div>
              </div>
              <div class="col-lg-2">
                <button type="submit" class="btn btn-base w-100 text-center">Send Code</button>
              </div>
            </div>
          </form>

        </div>
      </div>
      <br><br><br>
      <div class="section-title text-center" *ngIf="codeSent">
        <h6 class="sub-title">If the timer reaches zero, please try again.</h6>
        <h6>{{countdown}}</h6>
      </div>
      <div class="footer-subscribe">
        <div class="container">
          <form class="footer-subscribe-inner" (submit)="onVerify()">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <div class="single-input-inner style-border-bottom">
                  <input
                    type="number"
                    [(ngModel)]="code"
                    name="code"
                    placeholder="code">
                </div>
              </div>
              <div class="col-lg-2">
                <button type="submit" class="btn btn-base w-100 text-center">Verify</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- signup-page-end -->
<!-- footer area start -->
<br>
<footer class="footer-area bg-gray">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="widget widget_contact">
            <h4 class="widget-title">Contact Us</h4>
            <ul class="details">
              <li><i class="fa fa-map-marker"></i> 1, 2 rue André Ampère - 2083 - Pôle Technologique - El Ghazala.</li>
              <li><i class="fa fa-envelope"></i> noreply.pidev@gmail.com</li>
              <li><i class="fa fa-phone"></i> 012 345 678 9101</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="widget widget_nav_menu">
            <h4 class="widget-title">Course</h4>
            <ul>
              <li><a href="course.html">Branding design</a></li>
              <li><a href="course.html">Ui/Ux designing </a></li>
              <li><a href="course.html">Make Elements</a></li>
              <li><a href="course.html">Business</a></li>
              <li><a href="course.html">Graphics design</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="widget widget_blog_list">
            <h4 class="widget-title">News & Blog</h4>
            <ul>
              <li>
                <h6><a href="blog-details.html">Big Ideas Of Business Branding Info.</a></h6>
                <span class="date"><i class="fa fa-calendar"></i>December 7, 2021</span>
              </li>
              <li>
                <h6><a href="blog-details.html">Ui/Ux Ideas Of Business Branding Info.</a></h6>
                <span class="date"><i class="fa fa-calendar"></i>December 7, 2021</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="widget widget_contact">
            <h4 class="widget-title">Twitter Feed</h4>
            <ul class="details">
              <li>
                <i class="fa fa-twitter"></i>
                Simply dummy brand <a href="#">https//tweets/c3l.com</a>
                <div class="time">9 Hours ago</div>
              </li>
              <li>
                <i class="fa fa-twitter"></i>
                Simply dummy brand <a href="#">https//tweets/c7l.com</a>
                <div class="time">9 Hours ago</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 align-self-center">
          <a href="index.html"><img src="/assets/front/img/footer-logo.png" alt="img"></a>
        </div>
        <div class="col-lg-4  col-md-6 order-lg-12 text-md-right align-self-center">
          <ul class="social-media mt-md-0 mt-3">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-4 order-lg-8 text-lg-center align-self-center mt-lg-0 mt-3">
          <p>copyright 2023 by Valhalla Team</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer area end -->




